<header id="admin-navigation">
	<nav>
		<ul>
			<li><a href="/admin">Dashboard</a></li>
			<li><a href="/admin/add-product">Add a Product</a></li>
			<li><a href="/admin/all-products">All Products</a></li>
			<li><a href="/admin/orders">All Orders</a></li>
		</ul>
	</nav>
</header>
