<header id="header-navigation">
	<nav>
		<ul>
			<li><a href="/admin/add-product">Add a Product</a></li>
			<li><a href="/admin/products">All Products</a></li>
			<li><a href="/orders">All Orders</a></li>
		</ul>
	</nav>
</header>
