<header id="navigation">
			<div id="logo">
				<a href="/"><img src="/assets/logo.png" alt="image"></a>
			</div>

				<div class="search container">
					<form action="/search.ejs" class="search-form">
						<input
							placeholder="search for products..."
							required=""
							class="input"
							id="search-term"
							name="search-term"
							type="text"
						/>
					</form>
				</div>

				<nav>
					<ul>
                        <li><a href="/products">Products</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contacts</a></li>
					</ul>
				</nav>
</header>