<header id="navigation">
	<div id="logo">
		<a href="/"><img src="/assets/logo.png" alt="image" /></a>
	</div>
	<nav>
		<ul>
			<li><a href="/store">Store</a></li>
			<li><a href="/products">Products</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contacts</a></li>
			<li><a href="/cart"><img src="/assets/cart.svg" alt=""></a></li>
			<li><a href="/admin"><img src="/assets/profile.svg" alt=""></a></li>
		</ul>
	</nav>
</header>
