<article className="contact-details">
	<div className="details-head">
		<h2>Get in Touch</h2>
		<p>Feel free to reach out to us with any questions or inquiries.</p>
	</div>
	<div>
		<div className="card">
			<div className="icon-box"></div>
			<div className="details">
				<h3>California United States</h3>
				<p>Santa monica bullevard</p>
			</div>
		</div>

		<div className="card">
			<div className="icon-box"></div>
			<div className="details">
				<h3>+91 9845000222</h3>
				<p>Mon to Fri 9am to 6pm</p>
			</div>
		</div>

		<div className="card">
			<div className="icon-box"></div>
			<div className="details">
				<h3>consult@gmail.com</h3>
				<p>Send us your query anytime!</p>
			</div>
		</div>
	</div>
	<div className="socials">
		<div className="social-icons-box">
			<!-- <FaTwitter className='social-icon' />
					<FaLinkedin className='social-icon' />
					<FaInstagram className='social-icon' /> -->
		</div>
	</div>
</article>
