<form class="contact-form">
    <p class="title">Contact Us </p>
    <p class="message"></p>
        <div class="flex">
        <label>
            <input required="" placeholder="" type="text" class="input">
            <span>Firstname</span>
        </label>

        <label>
            <input required="" placeholder="" type="text" class="input">
            <span>Lastname</span>
        </label>
    </div>  
            
    <label>
        <input required="" placeholder="" type="email" class="input">
        <span>Email</span>
    </label> 
        
    <label>
        <input required="" placeholder="" type="number" class="input">
        <span>Phone Number</span>
    </label>
    <label>
        <textarea name="" id="" cols="30" rows="10" class="input" placeholder="Your Message"></textarea>
    </label>
    <button class="submit">Submit</button>
</form>