<section>
    <div></div>
    <div>
        <div>
            <h2>Matrix Treadmill Savings</h2>
            <p>Save up to $1,800 on club-quality treadmills for a limited time.</p>
            <button>Shop All</button>
        </div>
        <div>
            <div>Matrix T1 Treadmill</div>
            <div>Matrix T50 Treadmill</div>
            <div>Matrix TF30 Treadmill</div>
        </div>
    </div>
</section>