<section class="hero">
    <div class="texts">
        <div class="heading">
            <h1>PRE-BLACK FRIDAY</h1>
            <h1>SALES EVENT</h1>
        </div>
        <div class="para">
            <p>Save up to an extra $200 on</p>
            <p>purchases over $1,000</p>
        </div>
        <div class="link">
            <button>Learn More</button>
        </div>
    </div>
</section>
