<section>
    <div>
        <h2>Explore popular categories.</h2>
        <p>We have the best home fitness equipment at every price point.</p>
    </div>
    <div>
        <div>Treadmills</div>
        <div>Ellipticals</div>
        <div>Indore Cycles</div>
        <div>Climbers</div>
        <div>Rowers</div>
        <div>Accessories</div>
    </div>
</section>