<section class="popular_categories">
	<div>
		<h2>Explore popular categories.</h2>
		<p>We have the best home fitness equipment at every price point.</p>
	</div>
	<div class="box-container">
		<div class="box">
			<div>
				<img src="/assets/treadmill.svg" alt="" />
			</div>
			<p>Treadmills</p>
		</div>
		<div class="box">
			<div>
				<img src="/assets/elliptical.svg" alt="" />
			</div>
			<p>Ellipticals</p>
		</div>
		<div class="box">
			<div>
				<img src="/assets/indoorcycle.svg" alt="" />
			</div>
			<p>Indore Cycles</p>
		</div>
		<div class="box">
			<div>
				<img src="/assets/climber.svg" alt="" />
			</div>
			<p>Climbers</p>
		</div>
		<div class="box">
			<div>
				<img src="/assets/rower.svg" alt="" />
			</div>
			<p>Rowers</p>
		</div>
		<div class="box">
			<div>
				<img src="/assets/accessories.svg" alt="" />
			</div>
			<p>Accessories</p>
		</div>
	</div>
</section>
