<aside class="filter">
	<div id="checklist">
		<input value="1" name="r" type="checkbox" id="01" />
		<label for="01">Under $300</label>
		<input value="2" name="r" type="checkbox" id="02" />
		<label for="02">$300 to $700</label>
		<input value="3" name="r" type="checkbox" id="03" />
		<label for="03">$700 to $1200</label>
		<input value="4" name="r" type="checkbox" id="04" />
		<label for="04">$1200 to $3600</label>
		<input value="5" name="r" type="checkbox" id="05" />
		<label for="05">Above $3600</label>
	</div>
</aside>
