<aside class="filter">
	<div class="filter-container">
	    <h2>Price</h2>
		<div class="checklist">
			<input value="1" name="r" type="checkbox" id="01" />
			<label for="01">Under $300</label>

			<input value="2" name="r" type="checkbox" id="02" />
			<label for="02">$300 to $700</label>

			<input value="3" name="r" type="checkbox" id="03" />
			<label for="03">$700 to $1200</label>

			<input value="4" name="r" type="checkbox" id="04" />
			<label for="04">$1200 to $3600</label>

			<input value="5" name="r" type="checkbox" id="05" />
			<label for="05">Above $3600</label>
		</div>
	</div>

	<div class="filter-container">
	    <h2>Customer Review</h2>
		<div class="checklist">
			<input value="1" name="rating" type="checkbox" id="4start" />
			<label for="4start">
                & Up
            </label>

			<input value="2" name="rating" type="checkbox" id="3start" />
			<label for="3start">& Up</label>

			<input value="3" name="rating" type="checkbox" id="2start" />
			<label for="2start">& Up</label>

			<input value="4" name="rating" type="checkbox" id="1start" />
			<label for="1start">& Up</label>
		</div>
	</div>

	<div class="filter-container">
	    <h2>Brands</h2>
		<div class="checklist">
			<input value="1" name="brand" type="checkbox" id="brand1" />
			<label for="brand1">Matrix Fitness </label>

			<input value="2" name="brand" type="checkbox" id="brand2" />
			<label for="brand2">Cybex</label>

			<input value="3" name="brand" type="checkbox" id="brand3" />
			<label for="brand3">Octane</label>

			<input value="4" name="brand" type="checkbox" id="brand4" />
			<label for="brand4">Polar</label>

			<input value="5" name="brand" type="checkbox" id="brand5" />
			<label for="brand5">GoFit</label>
		</div>
	</div>
</aside>
