<section>
    <div>
        <h2>Welcome to the Home of Fitness.</h2>
        <p>We’re here to empower your fitness and well-being in everything we do.</p>
    </div>
    <div>
        <div>
            <img src="" alt="">
            <div>
                <h3>100+ Retail Stores NationWide</h3>
                <p>SOur fitness consultants are friendly and professional</p>
            </div>
        </div>
        <div>
            <img src="" alt="">
            <div>
                <h3>Professional Delivery & Assambly</h3>
                <p>Assambled by technicians in your room of choice</p>
            </div>
        </div>
        <div>
            <img src="" alt="">
            <div>
                <h3>Financing Options Available</h3>
                <p>Get your best workout without breaking your budget</p>
            </div>
        </div>
    </div>
</section>