<section>
    <div>
        <h2>Shop more sales</h2>
    </div>
    <div>
        <div>
            <img src="" alt="">
            <div>
                <h3>Massage Deal of the week</h3>
                <p>Synca CirC+ massage chair only $1699</p>
            </div>
        </div>
        <div>
            <img src="" alt="">
            <div>
                <h3>NordicTrack Sale</h3>
                <p>Save upto $700 on NordicTrack cardio</p>
            </div>
        </div>
        <div>
            <img src="" alt="">
            <div>
                <h3>In-Store Floor Model Sale</h3>
                <p>Save upto 60% on floor models while supplies lasts</p>
            </div>
        </div>
    </div>
</section>