html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #4d4d4d;
  background-color: #fafafa;
}

section {
  width: 95%;
  margin: auto;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: white;
}

.hero {
  width: 100vw;
  height: 90vh;
  background-image: url("https://images.unsplash.com/photo-1517838277536-f5f99be501cd?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.hero .texts {
  height: 90%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5em;
}
.hero .texts h1 {
  font-size: 4em;
  margin-bottom: 0;
}
.hero .texts p {
  font-size: 2em;
  margin-bottom: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 5px 5px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: #00bfff;
}

.submit:hover {
  background-color: rgba(0, 191, 255, 0.5882352941);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
header {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100vw;
  transition: background-color 0.4s ease;
  background-color: transparent;
  margin-right: 20px;
  background-color: #e5f4fd;
}
header.background {
  background-color: #3498DB;
}
header #logo {
  width: 10%;
}
header #logo img {
  width: 100%;
}
header:last-child {
  display: flex;
}
@media screen and (max-width: 768px) {
  header nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #181e27;
    margin: 0;
    border-bottom: 2px solid;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 90%;
  }
  header nav ul li:first-child {
    display: flex;
  }
  header .container {
    width: 60%;
    margin: 1em;
  }
}

nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
nav ul li a {
  text-decoration: none;
  margin: 20px;
  color: #3498DB !important;
}

::placeholder {
  color: whitesmoke;
  font-size: 0.8rem;
}

#search-input:focus,
#search-input:hover {
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  width: 40%;
}
.container .search-form {
  border: 1.5px solid #3498DB;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 1.5em;
  overflow: hidden;
}
.container .search-form input {
  padding: 0.8em;
  width: 100%;
  background-color: #3498DB;
  border: none;
  color: white;
}
.container .search-form input:focus::placeholder {
  opacity: 0;
  color: transparent;
}
.container .search-form .icon {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
}
.container .search-form .icon img {
  display: block;
  margin: auto;
}

footer {
  background-color: #e5f4fd;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 1em;
  margin-top: 4em;
  text-align: center;
}
footer .links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 2em 0;
}
footer .links div {
  border: 1px solid #4453a6;
  width: 30%;
  padding: 10px;
}
footer .links ul li {
  list-style: none;
  margin-top: 10px;
}
footer .socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgb(255, 255, 255);
  padding: 20px;
  margin: 20px;
}
footer .socials .social-media {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e7e7e7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  height: 50px;
  width: 200px;
}
footer .socials .social-media::before, footer .socials .social-media::after {
  position: absolute;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  transition: 0.25s linear;
  z-index: 1;
}
footer .socials .social-media::before {
  content: "";
  left: 0;
  justify-content: flex-end;
  background-color: #4d60b6;
}
footer .socials .social-media::after {
  content: "";
  right: 0;
  justify-content: flex-start;
  background-color: #4453a6;
}
footer .socials .social-media:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
footer .socials .social-media:hover span {
  opacity: 0;
  z-index: -3;
}
footer .socials .social-media:hover::before {
  opacity: 0.5;
  transform: translateY(-100%);
}
footer .socials .social-media:hover::after {
  opacity: 0.5;
  transform: translateY(100%);
}
footer .socials .social-media span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  font-family: "Fira Mono", monospace;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
}
footer .socials .social-media .social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
}
footer .socials .social-media .social-link svg {
  text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
  transform: scale(1);
}
footer .socials .social-media .social-link:hover {
  background-color: rgba(249, 244, 255, 0.774);
  animation: bounce_613 0.4s linear;
}
@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 768px) {
  footer .socials {
    margin-bottom: 3.5em;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }
  footer .links {
    flex-direction: column;
  }
  footer .links div {
    width: 70%;
    margin: 10px;
  }
}

.feature {
  display: flex;
  gap: 2em;
  justify-content: space-between;
}
.feature .bigImg {
  border-radius: 0.8em;
  overflow: hidden;
  aspect-ratio: 4/3;
}
.feature .bigImg img {
  width: 100%;
  aspect-ratio: 4/3;
}
.feature .feat-product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feature .feat-product-container .feat-product {
  display: flex;
  gap: 1em;
}
.feature .feat-product-container .feat-product .product-card {
  border: 1px solid black;
  padding: 0.8em;
}
.feature .feat-product-container .feat-product .product-card div img {
  width: 100%;
}

.popular_categories {
  display: flex;
  flex-direction: column;
}
.popular_categories .box-container {
  display: flex;
  justify-content: space-around;
  gap: 1.5em;
  flex-wrap: wrap;
}
.popular_categories .box-container .box {
  flex: 1;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  border-radius: 0.6em;
}
.popular_categories .box-container .box div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  margin: auto;
  background-color: #cbdae8;
}
.popular_categories .box-container .box div img {
  width: 100%;
}
.popular_categories .box-container .box p {
  text-align: center;
}

.three-box-layout {
  display: flex;
  flex-direction: column;
}
.three-box-layout .container {
  display: flex;
  width: 100%;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: space-between;
}
.three-box-layout .container .sale-box {
  position: relative;
  flex: 1;
  display: flex;
}
.three-box-layout .container .sale-box img {
  width: 100%;
  aspect-ratio: 5/4;
  border-radius: 0.8em;
}
.three-box-layout .container .sale-box div {
  position: absolute;
  bottom: 0;
  color: white;
  margin: 0 1.2em;
}
.three-box-layout .container .about-box {
  border: 2px solid black;
  padding: 0.8em;
  border-radius: 0.8em;
  flex: auto;
}
.three-box-layout .container .about-box .imgDiv {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  background-color: #cbdae8;
}
.three-box-layout .container .about-box .imgDiv img {
  width: 100%;
}
.three-box-layout .container .about-box h3 {
  margin-bottom: 0.2em;
  margin-top: 0.4em;
}

.filter {
  background-color: pink;
}
.filter #checklist {
  --background: #fff;
  --text: #414856;
  --check: #4f29f0;
  --disabled: #c3c8de;
  --width: 30%;
  --border-radius: 10px;
  background: var(--background);
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  position: relative;
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  padding: 30px 85px;
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  justify-content: center;
  row-gap: 1em;
}
.filter #checklist label {
  color: var(--text);
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: fit-content;
  transition: color 0.3s ease;
  margin-right: 20px;
}
.filter #checklist label::before, .filter #checklist label::after {
  content: "";
  position: absolute;
}
.filter #checklist label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: var(--check);
  border-radius: 2px;
  transition: background 0.3s ease;
}
.filter #checklist label::after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}
.filter #checklist input[type=checkbox] {
  appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  background: var(--background);
  display: grid;
  align-items: center;
  margin-right: 20px;
}
.filter #checklist input[type=checkbox]::before, .filter #checklist input[type=checkbox]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}
.filter #checklist input[type=checkbox]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}
.filter #checklist input[type=checkbox]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}
.filter #checklist input[type=checkbox]:checked::before {
  animation: check-01 0.4s ease forwards;
}
.filter #checklist input[type=checkbox]:checked::after {
  animation: check-02 0.4s ease forwards;
}
.filter #checklist input[type=checkbox]:checked + label {
  color: var(--disabled);
  animation: move 0.3s ease 0.1s forwards;
}
.filter #checklist input[type=checkbox]:checked + label::before {
  background: var(--disabled);
  animation: slice 0.4s ease forwards;
}
.filter #checklist input[type=checkbox]:checked + label::after {
  animation: firework 0.5s ease forwards 0.1s;
}
@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}
@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}
@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}
@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}
@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0, 14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0, -14px -8px 0 0px #4f29f0;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.title::before, .title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}
.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}
.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}
.signin a {
  color: royalblue;
}
.signin a:hover {
  text-decoration: underline royalblue;
}

textarea {
  resize: vertical;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.contact-form label {
  position: relative;
}

.contact-form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.contact-form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.contact-form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.contact-form label .input:focus + span, .contact-form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.contact-form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
}
.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.products-list {
  flex: 5;
  background-color: rgb(209, 239, 222);
}
.products-list .products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.homepage {
  display: flex;
  flex-direction: column;
  gap: 6em;
}

.all-products section {
  display: flex;
  gap: 1em;
}

.card {
  height: fit-content;
  padding: 0.8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  border: 1px solid black;
}

.card-img {
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.card-img img {
  width: 100%;
}

.card-info {
  padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}

.text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/
.card-button:hover {
  border: 1px solid #d3d3ee;
  background-color: #d3d3ee;
}

/*# sourceMappingURL=main.css.map */
