.admin-panel {
display: flex;
gap: 1em;
border: 2px solid red;

#admin-navigation {
    border: 2px solid pink;
    width: 100%;
    height: 100%;
    flex: 3;
    justify-content: center;

    ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
        height: 100%;
         li {
            border-bottom: 0.5px solid black;
         }

    }
}

#content {
    flex: 10;
}

}