.admin-panel {
display: flex;
gap: 1em;

#admin-navigation {
    width: 100%;
    height: 90vh;
    flex: 1.5;
    justify-content: center;

    ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
        height: 100%;
         li {
            border-bottom: 0.5px solid black;
         }

    }
}

#content {
    flex: 10;
}

}