<%- include('../partials/dochead') %>
<%- include('../partials/navigation') %>
<main class="all-products">
    <section>
        <h1>You havent ordered anything :[</h1>
    </section>
</main>
<%- include('../partials/footer') %>
<%- include('../partials/docbottom') %>
