<aside class="products-list">
	<div class="products-container">
		<% for (item of product) { %>
		<div class="card">
			<div class="card-img">
                <img src="<%= item.image %>" alt="">
            </div>
			<div class="card-info">
				<p class="text-title"><%= item.title %></p>
				<p class="text-body"><%= item.description %></p>
			</div>
			<div class="card-footer">
				<span class="text-title">$ <%= item.price %></span>
				<div class="card-button">
					<img src="/assets/cart.svg" alt="">
				</div>
			</div>
		</div>
		<% } %>
	</div>
	<% console.log(locals.product) %>
</aside>
