<%- include('../partials/dochead') %> <%- include('../partials/navigation') %>
<main class="all-products">
	<section>
		<h1>This is the Store!!</h1>

		<h3>Products will showcase here</h3>
	</section>
</main>
<%- include('../partials/footer') %> <%- include('../partials/docbottom') %>
