<section class="three-box-layout">
	<div class="heading">
		<h2>Power and Cables</h2>
	</div>
	<div class="container">
		<div class="sale-box">
			<img
				src="https://images.unsplash.com/photo-1599058917212-d750089bc07e?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
				alt=""
			/>
			<div>
				<h3>Massage Deal of the week</h3>
				<p>Synca CirC+ massage chair only $1699</p>
			</div>
		</div>
		<div class="sale-box">
			<img
				src="https://images.pexels.com/photos/2261477/pexels-photo-2261477.jpeg?auto=compress&cs=tinysrgb&w=800"
				alt=""
			/>
			<div>
				<h3>NordicTrack Sale</h3>
				<p>Save upto $700 on NordicTrack cardio</p>
			</div>
		</div>
		<div class="sale-box">
			<img
				src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=800"
				alt=""
			/>
			<div>
				<h3>In-Store Floor Model Sale</h3>
				<p>Save upto 60% on floor models while supplies lasts</p>
			</div>
		</div>
		<div class="sale-box">
			<img
				src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=800"
				alt=""
			/>
			<div>
				<h3>In-Store Floor Model Sale</h3>
				<p>Save upto 60% on floor models while supplies lasts</p>
			</div>
		</div>
	</div>
</section>
