.cart-item-container {

     .title-head {
            text-align: left;
        }
    
    .cart-item-card {
        text-align: center;
        border: 2px solid blue;

        .cart-item-img {
            width: 10%;
            img {
                width: 100%;
                aspect-ratio: 1/1;
                mix-blend-mode: multiply;
            }
        }
        .cart-item-title {
            text-align: left;
        }
    }
}