.card {
	height: fit-content;
	padding: 0.8em;
	background: #f5f5f5;
	position: relative;
	overflow: visible;
    border: 1px solid black;
	transition: all 0.2s ease-in;
background: linear-gradient(0deg, rgba(229,252,252,1) 0%, rgba(238,235,235,1) 39%);


	&:hover {
		transform: scale(1.02);
	}
}

.card-img {
	height: 40%;
	width: 100%;
	border-radius: 0.5rem;
	transition: 0.3s ease;

	img {
		width: 100%;
		mix-blend-mode: darken;
		aspect-ratio: 7/5;
	}
}

.card-info {
	padding-top: 10%;
}

svg {
	width: 20px;
	height: 20px;
}

.card-footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
	font-weight: 900;
	font-size: 1.2em;
	line-height: 1.5;
}

.text-body {
	font-size: 0.9em;
	padding-bottom: 10px;
}

/*Button*/
.card-button {
	border: 1px solid #252525;
	display: flex;
	padding: 0.3em;
	cursor: pointer;
	border-radius: 50px;
	transition: 0.3s ease-in-out;

	button {
		all: unset;
		padding: 0.2em;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/*Hover*/
.card-button:hover {
	border: 1px solid #d3d3ee;
	background-color: #d3d3ee;
}
