<section class="shop-category">
	<div class="heading">
		<h2>Audio</h2>
		<p>View All</p>
	</div>
	<div class="container">
		<% let displayedItems = 0; for (item of product) { if (displayedItems >= 3){ break; } %> 
		<% if (item.tag === 'audio') { displayedItems++; %>
		<a href="/products/<%= item.id %>" class="sale-box">
			<img src="<%= item.image %>" alt="" />
			<div>
                
				<h3><%= item.title %></h3>
				<p>$ <%= item.price %></p>
			</div>
		</a>
		<% } } %>
	</div>
</section>