<section class="three-box-layout">
	<div class="heading">
		<h2>Wearables</h2>
	</div>
	<div class="container">
		<% let displayedItems = 0; for (item of product) { if (displayedItems >= 2){ break; } %> 
		<% if (item.tag === 'wearables') { displayedItems++; %>
		<div class="sale-box">
			<img src="<%= item.image %>" alt="" />
			<div>
				<h3><%= item.title %></h3>
				<p>$ <%= item.price %></p>
			</div>
		</div>
		<% } } %>
	</div>
</section>