.contact-details {

    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: space-evenly;
    background-color: red;
    border-radius: 0.4em;
    height: 100%;
    padding: 1.5em 0;

    .details-head{
        width: 90%;
        margin: 0 auto;
 
        p {
            color: green;
        }
    }
    
    .socials {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1em;

        .social-icons-box {
            display: flex;
            gap: 1em;
            margin-top: 0.2em;
            
            .social-icon {
                cursor: pointer;
                font-size: 1.3em;
                &:hover {
                    color: aliceblue;
                }
            }
        }
    }

    @media screen and (max-width:768px) {
        width: 90%;
        margin: 0;
    }

    .card {
        display: flex;
        gap: 1em;
        padding: 1em;

        

        .icon-box {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.3em;
            border-radius: 0.2em;
            width:  15%;


            .icon {
                font-size: 1.5em;
            }
            
        }

        h3 {
            margin: 0;
            font-weight: bolder;
        }
        
        p {
            margin: 0;
        }
    }
}