.shop-category {
	display: flex;
	flex-direction: column;

	.heading {
		display: flex;
		justify-content: space-between;

		p {
			cursor: pointer;
		}
	}

	.container {
		display: flex;
		gap: 2em;
		border: 2px solid green;
		width: 100%;

		a {
			flex: 1;
			border: 2px solid blue;
            border-radius: 0.4em;
			display: flex;
			flex-direction: column;
			background: linear-gradient(
				0deg,
				rgba(232, 242, 239, 1) 2%,
				rgba(255, 255, 255, 1) 27%
			);

			img {
				width: 100%;
				aspect-ratio: 7/5;
				mix-blend-mode: multiply;
			}
		}
	}
}
