<section class="three-box-layout">
	<div class="heading">
		<h2>We're more than just home fitness.</h2>
	</div>
	<div class="container">
		<div class="sale-box">
			<img
				src="https://images.unsplash.com/photo-1518611012118-696072aa579a?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGd5bXxlbnwwfDB8MHx8fDA%3D"
				alt=""
			/>
			<div>
				<h3>Massage & Wellness</h3>
				<p>Rid everyday stress, improve muscle recovery and fatigue.</p>
			</div>
		</div>
		<div class="sale-box">
			<img
				src="https://images.unsplash.com/photo-1554344728-77cf90d9ed26?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjV8fGd5bXxlbnwwfDB8MHx8fDI%3D"
				alt=""
			/>
			<div>
				<h3>Commercial Fitness</h3>
				<p>Our experienced commercial fitness experts will exceed your expectations.</p>
			</div>
		</div>
		<div class="sale-box">
			<img
				src="https://images.unsplash.com/photo-1654338773549-2af4921fae62?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YmlsbGFyZHxlbnwwfDB8MHx8fDA%3D"
				alt=""
			/>
			<div>
				<h3>Billard & Gaming</h3>
				<p>With our wide selection, let us help you find the right billards or game table</p>
			</div>
		</div>
	</div>
</section>
